.homeContainer {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.homeContainerLimit {
    position: relative;
    z-index: 2;
}

.gradientContainer img:first-child {
    display: block;
    position: fixed;
    z-index: 0;
    bottom: -50%;
    left: -20%;
}

.gradientContainer img:last-child {
    display: block;
    position: fixed;
    z-index: 0;
    top: -55%;
    right: -50%;
}